body {
  background-image: url(./img/1.jpg);
}

.misnotas-div {
  margin: auto;
  margin-top: 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 576px;
  border: 1px solid black;
  border-radius: 10px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: rgba(255, 255, 255, 0.582);
}

.color-tabla {
  background-color: white;
  border-radius: 10px;
}

.div-tabla {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 2rem;
  width: 50%;
}

.tipo-letra {
  font-weight: 500;
}

.alerta {
  width: 300px;
  margin: auto;
}

@media only screen and (max-width: 425px) {
  .misnotas-div {
    width: 350px;
  }
  .busqueda-label {
    display: block;
    margin-left: 84px !important;
  }
  .busqueda-input {
    display: block;
    width: 182px;
    margin-left: 68px !important;
    margin-top: 10px;
  }
  .boton-busqueda {
    margin-top: 10px;
    margin-left: 68px !important;
  }
  .boton-limpiar {
    margin-top: 10px;
    margin-left: 30px !important;
  }
}

@media only screen and (max-width: 1440px) {
  .div-tabla {
    width: 75%;
  }
}
